requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0
pydantic==2.7.4
pydantic-settings==2.3.4
python-dotenv==1.0.1
loguru==0.7.2
tenacity==8.3.0
lightgbm==4.3.0
scikit-learn==1.5.1
joblib==1.4.2
xgboost==3.0.5
catboost==1.2.8
fastapi==0.114.0
uvicorn[standard]==0.30.6
typer==0.12.3
orjson==3.10.7
streamlit==1.37.1

